
        body
            {
            font-family: sans-serif;
            background-image: url("https://wallpaperplay.com/walls/full/1/c/7/71467.jpg");
            background-size: cover;
            background-attachment: fixed;
            margin: 0;
            padding: 0;

            }

        table
        {
            width: auto;
        }

        .sortbuttons_and_table ul li
        {
            border: 5px solid black;
            border-collapse: collapse;
            opacity: 0.75;
        }

        .sortbuttons_and_table ul li
        {
            padding: 5px;
            text-align: center;
        }

        .th
        {
            background-color: grey;
            color: white;

        }

        tr:nth-child(even)
        {
            font-size: larger;
            color: white;
            text-align: center;
            -moz-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
            -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        }

        tr:nth-child(odd)
        {
            font-size: larger;
            color: white;
            text-align: center;
            -moz-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
            -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        }

        i
        {
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
        }

        .right
        {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }

        .left
        {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
        }

        .up
        {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
        }

        .down
        {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }


        body
        {
            font-family: monospace;
        }

        header{
            background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://wallpaperplay.com/walls/full/1/c/7/71467.jpg");
            height: 100vh;
            background-size: auto;
            background-position: center;
        }

        ul{
            position: absolute;
            right: 40%;
            bottom: ;
            list-style-type: none;
            margin-top: 25px;
        }

        ul li{
           display: inline-block;
        }

        ul li a{
            text-decoration: none;
            color: white;
            padding: 20px 40px;
            border: 1px solid transparent;
            transition: 0.8s ease;
            text-transform: uppercase;
        }

        ul li a:hover{
            background-color: white;
            color: #000;
        }
        ul li.active a{
            background-color: white;
            color: #000000;
        }
        .logo {
            position: absolute;
            top: 4%;
            left: 4%;
            transform: translate(-50%,-50%);
            text-shadow: 5px 5px black;
            border: outset;
        }

        .logo h1{
            color: white;
            font-size: 30px;
        }

        ul li a{
            float: left;
            list-style-type: none;
            margin-top: 25px;
        }

        ul li input{
            text-decoration: none;
            color: white;
            padding: 20px 40px;
            border: 1px solid transparent;
            transition: 0.8s ease;
            text-transform: capitalize;
            text-transform: uppercase;
        }

        ul li input:hover{
            background-color: white;
            color: #000;
        }
        ul li.search_button input{
            background-color: -moz-default-background-color;
            color: #000000;
            border-bottom-color: black;
        }

        .page_name h1{
            font-size: 100px;
            color: white;
            text-align: center;
        }

        td input.trash{
            content: "&#x1F5D1;";
            font-size: 50px;
            vertical-align: middle;
        }