<!DOCTYPE html>
<html>
<head xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <title>Add new story</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">

</head>
    <body>
        <header>
            <div>
                <ul>
                    <form action="/add-question">
                        <li><a href="http://127.0.0.1:5000/all-questions?">Return Questions</a></li>
                    </form>

                    <form action="/">
                        <li><a href="http://127.0.0.1:5000/home">Back Home</a></li>
                    </form>
                </ul>
            </div>

            <div class="logo">
                <h1>@AskMate</h1>
            </div>

            <div class="add_q"></div>
            <form action='/add-question' method="post">
                <table align="center">
                     <tr>
                        <td><h1>Add Question:</h1></td>
                     </tr>

                    <tr>
                        <th><label for="title">Title:</label></th>
                    </tr>

                    <tr>
                        <th><input id="title" name="title" required size="100"></th>
                    </tr>

                    <tr>
                        <th><label for="message">Story:</label></th>
                    </tr>

                    <tr>
                        <th><textarea id="message" name="message" rows="10" cols=100" required></textarea></th>
                    </tr>

                    <tr>
                        <th><label for="tags">Tags:</label></th>
                    </tr>

                    <tr>
                        <th><input id="tags" name="tags" required size="100"></th>
                    </tr>

                    <tr>
                        <th><input type="submit" value="Submit"></th>
                    </tr>
                </table>
            </form>
            </div>
        </header>
    </body>
</html>