<!DOCTYPE html>
<html>
<head xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <title>Add new story</title>
    <link rel="stylesheet" type="text/css" href="/static/add_style.css">

</head>
    <body><form action='/add-question' method="post">
        <table align="center">
            <tr>
                <td><h1>Add user story:</h1></td>
            </tr>



            <tr>
                <th><label for="title">Title:</label></th>
            </tr>

            <tr>
                <th><input id="title" name="title" required size="100"></th>
            </tr>

            <tr>
                <th><label for="message">Story:</label></th>
            </tr>

            <tr>
                    <th><textarea id="message" name="message" rows="10" cols=100" required></textarea></th>
            </tr>

            <tr>
                <th><label for="tags">Tags:</label></th>
            </tr>

            <tr>
                <th><input id="tags" name="tags" required size="100"></th>
            </tr>

            <tr>
                <th><input type="submit" value="Submit"></th>
            </tr>


        </table></form>

    <form action="/deltag"><input type="submit" value="del tag with id=4,5,6,7,8,9"></form>
    </body>
</html>