<!DOCtype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta http-equiv="refresh" content="30">
    <meta name="keywords" content="HTML, CSS, XML, JavaScript, Tech">
</head>
<script>
function new_question_f() {
  document.getElementById("question_false").innerHTML = alert("YOU DON'T HAVE PERMISSION");
}
</script>
<body>
    <header>
        <div>
            <ul>
                <form class="search" method='GET' action="{{ url_for('search_route') }}">
                    <li class="search_button"><input type="text" placeholder="Search.." name="search"></li>
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
                {% if session.username %}
                    <li><a href="http://127.0.0.1:5000/add-question?">add question</a></li>
                {% else %}
                <li><input type="submit" value="ADD NEW QUESTION" onclick="new_question_f()" id="question_false" ></li>
                {% endif %}
                    <li><a href="http://127.0.0.1:5000/home">Return Home</a></li>
            </ul>
        </div>

        <div class="logo">
            <h1>@AskMate</h1>
        </div>

<table align="center">
        <div class="sortbuttons_and_table">
            <tr>
                <td>Submission time
                    <form action="/ordered-home/submission_time/desc">
                        <input type="submit" value="▲"/>
                    </form>
                    <form action="/ordered-home/submission_time/asc">
                        <input type="submit" value="▼"/>
                    </form>
                </td>

                <td>View number
                    <form action="/ordered-home/view_number/desc">
                        <input type="submit" value="▲"/>
                    </form>
                    <form action="/ordered-home/view_number/asc">
                        <input type="submit" value="▼"/>
                    </form>
                </td>

                <td>Vote number
                    <form action="/ordered-home/vote_number/desc">
                        <input type="submit" value="▲"/>
                    </form>
                    <form action="/ordered-home/vote_number/asc">
                        <input type="submit" value="▼"/>
                    </form>
                </td>

                <td>Question
                    <form action="/ordered-home/title/desc">
                        <input type="submit" value="▲"/>
                    </form>

                    <form action="/ordered-home/title/asc">
                        <input type="submit" value="▼"/>
                    </form>
                </td>
                <td>Vote</td>
                <td>Tags</td>
            </tr>

            {% for question in questions %}
                <tr>
                    <td>{{ question.submission_time }}</td>
                    <td>{{ question.view_number }}</td>
                    <td>{{ question.vote_number }}</td>
                    <td><a href="/question/{{ question.id }}">{{ question.title }}</a></td>
                    <td>
                        <form action="/vote/{{ question.id }}/up">
                            <input type="submit" value=&#128077 id="up"/>
                        </form>
                        <form action="/vote/{{ question.id }}/down">
                            <input type="submit" value=&#128078 id="down"/>
                        </form>
                    </td>
                    {% if question.name %}<td>{{ question.name }}</td>{% endif %}

                        <form action=""></form></td>
            {% endfor %}
                </tr>
        </div>
    </table>
    </header>

</body>
</html>