<!DOCtype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <header>
        <div>
            <ul>
                <form class="search" method='GET' action="{{ url_for('search_route') }}">
                    <li class="search_button"><input type="text" placeholder="Search.." name="search"></li>
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>

                <form action="/add-question">
                    <li><a href="http://127.0.0.1:5000/add-question?">Add Question</a></li>
                </form>

                <form action="/">
                    <li><a href="http://127.0.0.1:5000/home">Return Home</a></li>
                </form>
            </ul>
        </div>
<table align="center">
        <div class="sortbuttons_and_table">
            <tr>
                <td>Submission time
                    <form action="/ordered-home/submission_time/desc">
                        <input type="submit" value="DESC"/>
                    </form>
                    <form action="/ordered-home/submission_time/asc">
                        <input type="submit" value="ASC"/>
                    </form>
                </td>

                <td>View number
                    <form action="/ordered-home/view_number/desc">
                        <input type="submit" value="DESC"/>
                    </form>
                    <form action="/ordered-home/view_number/asc">
                        <input type="submit" value="ASC"/>
                    </form>
                </td>

                <td>Vote number
                    <form action="/ordered-home/vote_number/desc">
                        <input type="submit" value="DESC"/>
                    </form>
                    <form action="/ordered-home/vote_number/asc">
                        <input type="submit" value="ASC"/>
                    </form>
                </td>

                <td>Title
                    <form action="/ordered-home/title/desc">
                        <input type="submit" value="DESC"/>
                    </form>

                    <form action="/ordered-home/title/asc">
                        <input type="submit" value="ASC"/>
                    </form>
                </td>
                <td>Vote</td>
                <td>Tags</td>
            </tr>

            {% for question in questions %}
                <tr>
                    <td>{{ question.submission_time }}</td>
                    <td>{{ question.view_number }}</td>
                    <td>{{ question.vote_number }}</td>
                    <td><a href="/question/{{ question.id }}">{{ question.title }}</a></td>
                    <td>
                        <form action="/vote/{{ question.id }}/up">
                            <input type="submit" value=&#128077 id="up"/>
                        </form>
                        <form action="/vote/{{ question.id }}/down">
                            <input type="submit" value=&#128078 id="down"/>
                        </form>
                    </td>
                    {% if question.name %}<td>{{ question.name }}</td>{% endif %}

                        <form action=""></form></td>
            {% endfor %}
                </tr>
        </div>
    </table>
    </header>

</body>
</html>