<!DOCTYPE html>
<head xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <title>Add new Answer</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
    <body>
        <header>
            <table align="center">
                <div>
                    <ul>
                        <li><a href="http://127.0.0.1:5000/all-questions?">Return Questions</a></li>
                        <li><a href="http://127.0.0.1:5000/home">Back Home</a></li>
                    </ul>
                </div>

                <div class="logo">
                    <h1>@AskMate</h1>
                </div>

                <div>
                    <tr>
                        <td><h1>Add new answer:</h1></td>
                    </tr>

                    <form action="/question/{{ question_id }}/new-answer" method="post">

                        <tr>
                            <th><textarea id="message" name="message" rows="10" cols=100" required></textarea></th>
                        </tr>

                        <tr>
                            <th><input type="submit" value="Submit"></th>
                        </tr>
                    </form>
                </div>
            </table>
        </header>
    </body>
</html>