<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Answer</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<h1 id="edit_answer">Edit answer</h1>
<div id="edit_answer_box">
    <form method="POST">

        <p>
            <label for="edit-answer">Write your answer:</label>
        </p>


        <textarea id="edit-answer" name="edit-answer" rows="15" cols=100" required>{{ answer["message"] }}</textarea>


        <input type="submit" value="Submit">


    </form>
</div>

<div id="answer-comments">
    <form action="/answer/{{ answer.id }}/edit-answer/new-comment"><input type="submit" value="Add comment"></form>
    <table>
        <tr>
            <th id="answer-comments-label">Submission time</th>
            <th>Comments</th>

            </tr>{% for comment in commentss %}<tr>

                    <td>
                        <form action="/comment/{{ comment.id }}/edit-commit"><input type="submit"
                                                                                       value="{{ comment.submission_time }}">
                        </form>
                    </td>

                    <td>{{ comment.message }}</td>
                    <td><form action="/delete/{{ comment.id }}"><button type="submit" value="delete">delete</button></form></td>

                    </tr>{% endfor %}</table>
</div>
</body>
</html>