<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <header>
        <div class="main">
            <ul>
                <li class="active"><a href="http://127.0.0.1:5000/home">Home</a></li>
                <li><a href="http://127.0.0.1:5000/all-questions?">Questions</a></li>
                <li><a href="http://127.0.0.1:5000/login">Login/Register</a></li>
            </ul>
        </div>

        <div class="logo">
            <h1>@AskMate</h1>
        </div>
    </header>
</body>
</html>