<!DOCtype html>
<html>
<head>
    <title>Q&A</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
{% for question in questions %}
    <h1>Question&Answers</h1>
    <form action='/delete-question/{{ question['id'] }}'>
        <input type="submit" value="Delete this question"/></form>


    <form action='/question/{{ question['id'] }}/new-answer'>
        <input type="submit" value="Add new answer"/></form>



    <div class="question-block">
    <table>
    <tr>
        <th>ID</th>
        <th>Time</th>
        <th>Viewed</th>
        <th>Vote</th>
        <th>Title</th>
        <th>Message</th>
        <th>Image</th>
    </tr>

    <tr>

    <td>{{ question['id'] }}</td>
    <td>
        <form action="/question/{{ question['id'] }}/edit-question" method="GET"><input type="submit"
                                                                                        value="{{ question['submission_time'] }}">
        </form>
    </td>
    <td>{{ question['view_number'] }}</td>
    <td>{{ question['vote_number'] }}</td>
    <td>{{ question['title'] }}</td>
    <td>{{ question['message'] }}</td>
    <td>{{ question['image'] }}</td>
{% endfor %}

</tr>
</table>
</div><h3>Question comments:</h3>

<div id="question-comments">

    <table>

        <tr>
            <th>ID</th>
            <th>Time</th>
            <th>Comment</th>
            <th>Edited counter</th>
        </tr>
        {% for comment in question_comments %}
            <tr>
                <td>{{ comment['id'] }}</td>
                <td>{{ comment['submission_time'] }}</td>
                <td>{{ comment['message'] }}</td>
                <td>{{ comment['edited_count'] }}</td>


            </tr>
        {% endfor %}
    </table>
</div>
<div class="answerblock">
    <h2>Answers:</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Vote</th>
            <th>Question id</th>
            <th>Answer</th>
            <th>Image</th>
        </tr>
        {% for answer in answers %}

            <tr>

                <td>{{ answer['id'] }}</td>
                <td>
                    <form action="/answer/{{ answer['id'] }}/edit-answer"><input type="submit"
                                                                                 value="{{ answer['submission_time'] }}">
                    </form>
                </td>

                <td>{{ answer['vote_number'] }}</td>
                <td>{{ answer['question_id'] }}</td>
                <td>{{ answer['message'] }}</td>
                <td>{{ answer['image'] }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>