<!DOCtype html>
<html>
<head>
    <title>Q&A</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<script>function add_answer_f() {
document.getElementById("false_a").innerHTML = alert("Not logged in!");}
function edit_answer_f () {document.getElementById('edit_answer_false').innerHTML = alert('Not Allowed!');}
</script>
    <header>
        <div class="page_name">
            <h1>Question&Answers</h1>
        </div>

        <div>
            <ul>

                <form action="/add-question">
                    <li><a href="http://127.0.0.1:5000/all-questions?">Return Questions</a></li>
                </form>

                <form action="/">
                    <li><a href="http://127.0.0.1:5000/home">Return Home</a></li>
                </form>
            </ul>
        </div>

        {% for question in questions %}

        <div class="main">
            <ul>
                <form action="/question/{{ questions[0]['id'] }}/question-comment">
                    <li><a href="http://127.0.0.1:5000/question/2/question-comment?">Add new Comment</a></li>
                </form>

                    {% if session.username %}
                    <li><a href="http://127.0.0.1:5000/question/{{ question.id }}/new-answer?">Add new Answer</a></li>{% else %}
                <li><input id="false_a" type="button" onclick="add_answer_f()" value="Add new Answer"> </li>{% endif %}

            </ul>
        </div>

        <div class="question-block">
            <table>
                <tr>
                    <th>Time</th>
                    <th>Viewed</th>
                    <th>Vote</th>
                    <th>Title</th>
                    <th>Message</th>
                    <th>Tags</th>
                    <th>Delete</th>
                </tr>

                <tr>
                    {% if session.username == question.session_id %}
                    <td><form action="/question/{{ question['id'] }}/edit-question" method="GET">
                            <input type="submit" value="{{ question['submission_time'] }}">
                        </form></td>
                    {% else %}
                    <td><input type="submit" id="edit-question-false" onclick="edit_question_f()" value="{{ question.submission_time }}"></td>
                    {% endif %}
                    <td>{{ question['view_number'] }}</td>
                    <td>{{ question['vote_number'] }}</td>
                    <td>{{ question['title'] }}</td>
                    <td>{{ question['message'] }}</td>
                    <td>{{ tag['tagname'] }}</td>

                    <td><form action='/delete-question/{{ question['id'] }}'>
                            <input class="trash" type="submit" value="&#128465;"/>
                        </form></td>
                    {% endfor %}
                </tr>
            </table>
        </div>


        <div id="question-comments">
            <table>
                <tr>
                    <h3>Question comments:</h3>
                    <th>Time</th>
                    <th>Comment</th>
                    <th>Edited counter</th>
                </tr>
                {% for comment in question_comments %}
                    <tr>
                        <td><form action="/comment/{{ comment['id'] }}/edit-commit">
                            <input type="submit" value="{{ comment['submission_time'] }}">
                        </form></td>
                        <td>{{ comment['message'] }}</td>
                        <td>{{ comment['edited_count'] }}</td>
                        <td><form action="/delete/{{ comment.id }}">
                            <button type="submit" value="delete">delete</button>
                        </form></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    <div class="answerblock">
        <h2>Answers:</h2>
        <table>
            <tr>
                <th>Date</th>
                <th>Vote</th>
                <th>Question id</th>
                <th>Answer</th>
                <th>Delete</th>
            </tr>

            {% for answer in answers %}
            <tr>{% if session.username == answer.session_id %}
                <td><form action="/answer/{{ answer['id'] }}/edit-answer">
                        <input type="submit" value="{{ answer['submission_time'] }}">
                    </form></td>{% else %}<td><input type="submit" id="edit_answer_false" onclick="edit_answer_f()" value="{{ answer.submission_time }}"></td>{% endif %}
                <td>{{ answer['vote_number'] }}</td>
                <td>{{ answer['question_id'] }}</td>
                <td>{{ answer['message'] }}</td>
                <td><form action="/delete-answer/{{ answer.id }}">
                        <button type="submit" value="delete">delete</button>
                    </form></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </header>
</body>
