<!DOCTYPE html>
<head xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <title>Login / Register</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">

</head>
<body>
<form action="{{ url_for('login') }}" method="POST">

    <table align="left">
        <tr>
            <td><h1>Existing user:</h1></td>
        </tr>


        <tr>
            <th><label for="login_username">Username:</label></th>
        </tr>

        <tr>
            <th><input id="login_username" name="login_username" required size="60"></th>
        </tr>

        <tr>
            <th><label for="login_password">Password:</label></th>
        </tr>

        <tr>
            <th><input type="password" id="login_password" name="login_password"></th>
        </tr>

        <tr>
            <th><input type="submit" value="Submit"></th>
        </tr>

    </table>
</form>
{% if taken==True %}
    <script type="text/javascript">
        alert('This username is already taken');
    </script>
{% endif %}
<form action="{{ url_for('register') }}" method="POST">
    <table align="right">
        <tr>
            <td><h1>Register a new user:</h1></td>
        </tr>


        <tr>
            <th><label for="username">Username:</label></th>
        </tr>

        <tr>
            <th><input id="username" name="username" required size="60"></th>
        </tr>

        <tr>
            <th><label for="pw">Password:</label></th>
        </tr>

        <tr>
            <th><input type="password" id="pw" name="pw"></th>
        </tr>
        <tr>
            <th><input type="submit" value="Submit"></th>
        </tr>

    </table>
</form>
</body>
</html>