<!DOCtype html>
<html>
<head>
    <title>Home</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<table align="center">
    <tr>
        <td colspan="4"><h1>Search results for "{{ search_for }}"</h1></td>
    </tr>

    <tr>
        <th>Title</th>
        <th>View number</th>
        <th>Vote number</th>
        <th>Submission time</th>
    </tr>

    {% for question in results %}
        <tr>
            <td>{{ question.title }}</td>
            <td>{{ question.view_number }}</td>
            <td>{{ question.vote_number }}</td>
            <td>{{ question.submission_time }}</td>
        </tr>
    {% endfor %}

</table>
</body>
</html>