<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="description" content="user_page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="user_background">
<div id="username">{{ name }}</div><form action="/">
    <input type="submit" id="userback" value="Back to main Page">
</form>
<div><h1 id="Userpageheader">@Ask Mate{{ person }}</h1>
    <h2 class="userh2">Your Questions:</h2>
    <div class="tartalom">{% if questions %}
        <table>
            <tr>
                <th>ID</th>
                <th>SUBMISSION TIME</th>
                <th>VIEW NUMBER</th>
                <th>VOTE NUMBER</th>
                <th>TITLE</th>
                <th>MESSAGE</th>
            </tr>{% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.submission_time }}</td>
                <td>{{ question.view_number }}</td>
                <td>{{ question.vote_number }}</td>
                <td>{{ question.title }}</td>
                <td>{{ question.message }}</td>
            </tr>{% endfor %}</table>
        <yet></yet></p>
    {% endif %}
    </div>
    <h2 class="userh2">Answers:</h2>
    <div class="tartalom">{% if answers %}
        <table>
            <tr>
                <th>ID</th>
                <th>SUBMISSION TIME</th>
                <th>VIEW NUMBER</th>
                <th>VOTE NUMBER</th>
                <th>TITLE</th>
                <th>MESSAGE</th>
            </tr>{% for question in answer_q %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.submission_time }}</td>
                <td>{{ question.view_number }}</td>
                <td>{{ question.vote_number }}</td>
                <td>{{ question.title }}</td>
                <td>{{ question.message }}</td>
            </tr>{% endfor %}</table>
        <table>
            <tr>
                <th>ID</th>
                <th>SUBMISSION TIME</th>
                <th>VOTE</th>
                <th>QUESTION ID</th>
                <th>ANSWER</th>
            </tr>{% for answer in answer_q %}
            <td>answer.id</td>
            <td>answer.submission_time</td>
            <td>answer.vote</td>
            <td>answer.question_id</td>
            <td>answer.message</td></tr>{% endfor %}</table>
        </div>{% else %}<p>No Answers yet</p>{% endif %}
    <h2 class="userh2">Comments you wrote:</h2>
    <div class="tartalom">{% if comments %}
        <table>
            <tr>
                <th>MESSAGE</th>
            </tr>{% for stuff in q_or_a_for_c %}
            <tr>
                <td>{{ stuff.message }}</td>
            </tr>{% endfor %}</table>
        <table>
            <tr>
                <th>COMMENTS</th>
            </tr>{% for comment in comments %}
            <tr>
                <td>{{ comment.message }}</td>
            </tr>{% endfor %}</table>{% else %}<p>No comments yet</p>{% endif %}</div>

</div>
</body>
</html>